{% block form_start %}
    <form class="ui form">
        {{ form_widget(form) }}
    </form>
{% endblock form_start %}

{% block form_row %}
    <div class="field">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}
