html {
    position: relative;
    min-height: 95%;
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}

body {
    overflow-y: scroll;
    margin-top: 1em;
    font-size: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
