/application/bin/symfony_requirements
/application/app/config/parameters.yml
/composer.phar
/composer.lock
!/application/var/cache
/application/var/cache/*
!var/cache/.gitkeep
!/application/var/logs
/application/var/logs/*
!var/logs/.gitkeep
!/application/var/temp
/application/var/temp/*
!var/temp/.gitkeep
!/application/var/temp/stock
/application/var/temp/stock/*
!/application/var/temp/stock/.gitkeep
!/application/var/sessions
/bower_components
/application/var/sessions/*
!var/sessions/.gitkeep
/vendor/
../.idea
/web/bundles
/application/app/data.db3
/Vagrantfile
/.vagrant/
/application/var/bootstrap.php.cache
/application/var/SymfonyRequirements.php
/application/bin/*
!/application/bin/console
!/application/bin/monotype
/phpmd.phar
/application/tests/coverage/
/coverage-dir
/php-cs-fixer-v2.phar
/pid
/build/logs/clover.xml
