/bin/symfony_requirements
/app/config/parameters.yml
/composer.phar
/composer.lock
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/temp
/var/temp/*
!var/temp/.gitkeep
!/var/temp/stock
/var/temp/stock/*
!/var/temp/stock/.gitkeep
!/var/sessions
/bower_components
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
.idea
/web/bundles
/app/data.db3
/Vagrantfile
/.vagrant/
