/bin/symfony_requirements
/app/config/parameters.yml
/composer.phar
/composer.lock
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/temp
/var/temp/*
!var/temp/.gitkeep
!/var/temp/stock
/var/temp/stock/*
!/var/temp/stock/.gitkeep
!/var/sessions
/bower_components
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
.idea
/web/bundles
/app/data.db3
/Vagrantfile
/.vagrant/
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/bin/*
!/bin/console
!/bin/monotype
/phpmd.phar
/tests/coverage/
/coverage-dir
/php-cs-fixer-v2.phar
/pid
/build/logs/clover.xml
