<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ asset('ratchet/css/ratchet-theme-android.css') }}"/>

</head>
<body>
{% block navigation %}
    <h1>Tools:</h1>
    <ul>
        <li><a href="{{ path('homepage') }}">HomePage</a></li>
        <li><a href="{{ path('process_index') }}">Process</a></li>
    </ul>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
