{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">Col-1</div>
        <div class="col-md-6">Col-2</div>
    </div>
{% endblock %}
{% block stylesheets %}{% endblock %}
