{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tools:</h1>
    <ul>
        <li><a href="{{ path('process_index') }}">Process</a></li>
    </ul>
{% endblock %}

{% block stylesheets %}
{% endblock %}
