{% extends "::base.html.twig" %}

{% block title %}MonotypeUtilityBundle:Tool:index{% endblock %}

{% block body %}
    <p>Lista narzędzi:</p>
    <ul>
        <li>Karty pracy</li>
        <li>Karty pracy - rolziczenia okresowe</li>
        <li>Karty przewodnie - zlecenia produkcyjne</li>
    </ul>
{% endblock %}
