{#{% extends "::base.html.twig" %}#}

{% block title %}MonotypeUtilityBundle:Tool:lock{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% block navigation %}{% endblock %}

    <div class="container">
        <h1>Narzędzia</h1>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
