{#{% extends 'base.html.twig' %}#}

    {% block body %}
        <h1>Wybierz:</h1>
        <ul>
            <li><a href="{{ path('terminal_index') }}">Terminal</a></li>
            <li><a href="{{ path('tool_index') }}">Narzędzia</a></li>
            <li><a href="{{ path('manager_index') }}">Manager</a></li>
        </ul>
    {% endblock %}
