{% extends 'base.html.twig' %}

    {% block body %}
        <p>Lista narzędzi:</p>
        <ul>
            <li>Indeksy</li>
            <li>Indeksy - pomiary</li>
            <li>Operacje</li>
            <li>Akordy</li>
            <li>Zamówienia</li>
            <li><a href="{{ path('manager_customer_index') }}">Klienci</a></li>
            <li>Maszyny</li>
            <li>Pracownicy</li>
            <li>Pracownicy - kategorie</li>
        </ul>
    {% endblock %}
