{% extends 'base.html.twig' %}

    {% block body %}
        <h1>Manager - główna</h1>

        <div>
            <ul>
                <li><a href="{{ path('manager_user_new') }}">Dodaj użytkownika</a></li>
            </ul>

        </div>
    {% endblock %}
