{% extends "MonotypePosBundle:Terminal:base.html.twig" %}

{% block body %}
    <h1>Welcome to the Synchro:ShowDiff page</h1>
    <ul>
        {% if differences %}
            {% for difference in differences %}
                <li>{{ difference }}</li>
            {% endfor %}
        {% else %}
            <p>empty</p>
        {% endif %}
    </ul>
{% endblock %}
